<div class="app-navegation">
  <ul class="list-group navegation">

    <div class="title">
      <h3 class="text-muted float-left">Curso 2019/2020</h3>
      <app-log-out></app-log-out>
    </div>


    <div id="accordion">
      <li class="list-group-item">
        <a id="headingOne" class="list-group-item-light app-list-header" href="#item-1" data-toggle="collapse"  data-parent="#accordion" data-target="#item-1" aria-expanded="true" aria-controls="collapseOne">
          <fa name="fas fa-user"></fa>
          <div>Mi cuenta</div>
        </a>
        <div id="item-1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <ul class="list-group list-group-flush" >
            <li routerLink="/dashboard/profile" class="list-group-item app-list"
                routerLinkActive="router-link-active">
              <a class="">Perfil</a>
            </li>

            <ng-container *ngIf="user?.teacher_dni">
              <li *ngFor="let link of userlink" routerLink="{{link.path}}" class="list-group-item app-list"
                  routerLinkActive="router-link-active">
                <a class="">{{link.name}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>

      <li class="list-group-item" *ngIf="user?.isAdmin" >

        <a id="headingTwo" class="list-group-item-light app-list-header" data-toggle="collapse" href="#item-2" data-parent="#accordion" data-target="#item-2" aria-expanded="true" aria-controls="collapseOne">
          <fa name="fas fa-database"></fa>
          <div>Administración</div>
        </a>

        <div id="item-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <ul class="list-group list-group-flush" >
            <li *ngFor="let link of adminlink" routerLink="{{link.path}}" class="list-group-item app-list"
                routerLinkActive="router-link-active">
              <a class="">{{link.name}}</a>
            </li>
          </ul>
        </div>

      </li>

      <li class="list-group-item">
        <a cid="headingThree" class="list-group-item-light app-list-header" data-toggle="collapse" href="#item-3" data-parent="#accordion" data-target="#item-3" aria-expanded="true" aria-controls="collapseOne">
          <fa name="fas fa-bars"></fa>
          <div>PDO</div>
        </a>
        <div id="item-3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <ul class="list-group list-group-flush">
            <li *ngFor="let link of PDOlink" routerLink="{{link.path}}" routerLinkActive="router-link-active" class="list-group-item app-list" >
              <a class="">{{link.name}}</a>
            </li>
          </ul>
        </div>
      </li>
    </div>

  </ul>
</div>

