div.title {
  h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
.app-list-header {
  display: inline-flex;
  margin-bottom: .3rem;
  margin-top: .3rem;
  font-size: large;
  fa {
    margin-right: 0.5rem;
    float: left;
  }
  div { float: right; }
}

.app-list{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  cursor: pointer;
  a {color: #002e67;}
}

.app-list:hover {background: #f8f9fa;}
.app-navegation {
  li.list-group-item {padding: .50rem 1rem;}
  .fas {padding-right: .4rem;}
  .router-link-active {
    background: #466b99;
    a { color: white; }

  }
}




