<div class=" tableFixHead app-content">
  <h3 class="text-muted">Tutorias docente, curso 2018-2019</h3>
  <table class="table table-striped">
    <thead>
    <tr class="content-align">
      <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of teacherDemands" class=" content-align">
      <td>{{item?.teacher_name}}</td>
      <td>{{item?.area_name}}</td>
      <td>{{item?.total_hours}}</td>
      <td>{{item?.selected_hours}}</td>
      <td>{{item?.unassigned_hours}}</td>
    </tr>
    </tbody>
  </table>
</div>
