h3{
  text-align: right;
  margin-bottom: 30px;
}
.table {
  font-size: 0.9em;
}
.content-align {
  text-align: center;

}
.content-vertical {
  vertical-align: middle;
}

h4{
  color: #002e67;
  text-align: left;
}
.tableFixHead {
  font-size: 0.8em;
  padding-right: 5px;
  overflow-y: auto; max-height: 25rem;
  thead th { position: sticky; top: 0; }
  table  {
    border-collapse: collapse;
    width: 100%;
  }
  th, td { padding: 8px 16px; }
  th     { background:#eee; }

}

