<div class="app-content">
  <h3 class="text-muted">{{title}}</h3>
  <h4>Coordinador de Asignaturas</h4>
  <div class="content-coordinator tableFixHead">
    <table class="table table-hover">
      <thead>
      <tr class="content-align">
        <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of coordinator?.subject" class="select-row content-align">
          <td>{{item?.university_name}}</td>
          <td>{{item?.subject_name}}</td>
          <td>{{item?.area_name}}</td>
          <td>{{item?.subject_type}}</td>
          <td>{{item?.subject_semester}}</td>
          <td>{{item?.teacher_surnames}}, {{item?.teacher_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Coordinador de Prácticas</h4>
  <div class="content-coordinator tableFixHead">
    <table class="table table-hover">
      <thead>
      <tr class="content-align">
        <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of coordinator?.practice" class="select-row content-align">
        <td>{{item?.university_name}}</td>
        <td>{{item?.subject_name}}</td>
        <td>{{item?.area_name}}</td>
        <td>{{item?.subject_type}}</td>
        <td>{{item?.subject_semester}}</td>
        <td>{{item?.teacher_surnames}}, {{item?.teacher_name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
