<div class="app-content">
  <div class="title">
    <h3 class="text-muted">{{title}}</h3>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="text" placeholder="Buscar asignatura o titulación..."
               [(ngModel)]="filterSubject">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col form-group" >
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" class="custom-control-input"
               [(ngModel)]="filterOption" value="full" [checked]="true">
        <label class="custom-control-label" for="customRadioInline1">Todas</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" class="custom-control-input"
               [(ngModel)]="filterOption" value="notfull">
        <label class="custom-control-label" for="customRadioInline2">Solo horas sin cubir</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col tableFixHead">
      <table class="table table-striped ">
      <thead>
      <tr class="content-align">
        <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of teacherDemands | searchFilter: filterSubject | hoursFilter: filterOption"
          routerLink="/dashboard/teacher-demand-details/{{item?.area_cod}}/{{item?.subject_cod}}/{{item?.group_cod}}"
          class="select-row content-align">
        <td>{{item?.university_name}}</td>
        <td>{{item?.area_name}}</td>
        <td>{{item?.subject_name}}</td>
        <td>{{item?.subject_course}}</td>
        <td>{{item?.subject_semester}}</td>
        <td>{{item?.group_cod}}</td>
        <td>{{item?.group_type}}</td>
        <td>{{item?.group_hours}}</td>
        <td
          [ngClass]="{
          'p-3 mb-2 bg-danger text-white': item?.group_cover_hours < 0,
          'p-3 mb-2 bg-success text-white': item?.group_cover_hours == 0,
          'p-3 mb-2 bg-warning text-dark': item?.group_cover_hours > 0
          }"
        >{{item?.group_cover_hours}}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
