<h3 class="text-muted">{{title}}</h3>


<div class="card">
  <div class="card-body">


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Buscar asignatura o titulación..."
             [(ngModel)]="filterSubject">
    </div>

    <div class="content-filter-radio">

      <div class="content-radio">
          <h4 class="fieldset-title">Horas</h4>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="radioHours1" value="full" name="radioHours">
            <label class="form-check-label" for="radioHours1">Sin cubir</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="radioHours2" value="notfull" name="radioHours">
            <label class="form-check-label" for="radioHours2">Excedidas</label>
          </div>
      </div>

      <div class="content-radio">
          <h4 class="fieldset-title" >Área de conocimiento</h4>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="radioArea1" value="full" name="radioHours" [checked]="true">
            <label class="form-check-label" for="radioArea1">Arq. y tec. de Computadores</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="radioArea2" value="notfull" name="radioHours">
            <label class="form-check-label" for="radioArea2">Ciencia de la Comp. e Intel. Artificial</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="radioArea3" value="notfull" name="radioHours">
            <label class="form-check-label" for="radioArea3">Len. y sis. Informáticos</label>
          </div>
      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col">
    <div class="tableFixHead">
    <table class="table table-hover">
    <thead>
    <tr class="content-align">
      <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of teacherDemands | searchFilter: filterSubject | hoursFilter: filterOption"
        routerLink="/dashboard/teacher-demand-details/{{item?.area_cod}}/{{item?.subject_cod}}/{{item?.group_cod}}" >
      <td>{{item?.university_name}}</td>
      <td>{{item?.area_name}}</td>
      <td>{{item?.subject_name}}</td>
      <td>{{item?.subject_course}}</td>
      <td>{{item?.subject_semester}}</td>
      <td>{{item?.group_cod}}</td>
      <td>{{item?.group_type}}</td>
      <td>{{item?.group_hours}}</td>
      <td
        [ngClass]="{
        'p-3 mb-2 bg-danger text-white': item?.group_cover_hours < 0,
        'p-3 mb-2 bg-success text-white': item?.group_cover_hours == 0,
        'p-3 mb-2 bg-warning text-dark': item?.group_cover_hours > 0
        }"
      >{{item?.group_cover_hours}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
