.input-group-text,
.form-control { background: white; border: none; border-radius: 0 !important; }
.input-group { margin-top: .5rem; border: 1px solid lightgrey; border-radius: .1rem}
.tableFixHead { font-size: .8em; max-height: 30rem !important; }
.cursor-pointer { cursor: pointer; }

input[type="text"]:focus
{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.content-filter-radio {

  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5rem;
  h4 {
    padding: 0;
    font-size: 1rem; font-weight: 400;
  }
  .content-radio {
    display: block;
    margin-right: 10px;
  }
}
