.input-group-text,
.form-control { background: white; border: none; border-radius: 0 !important; }
.input-group { border-bottom: 1px solid lightgrey; border-radius: .1rem}
.tableFixHead { font-size: .8em; max-height: 35rem !important; }
.cursor-pointer { cursor: pointer; }

.content-filter-radio {

  display: inline-flex;
  .fieldset-title { font-size: 1rem; font-weight: 400; }
  .content-radio { margin-right: 15px; }
}
.card { margin-bottom: 1rem; }
