<h3 class="text-muted">{{title}}</h3>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Buscar asignatura o titulación..." [(ngModel)]="filterSubject">
</div>

<div class="content-filter-radio">

  <div class="content-radio">
    <h4 class="fieldset-title">Horas:</h4>
    <div class="form-check form-check-inline" *ngFor="let item of orderHours">
      <input class="form-check-input" type="checkbox" name="radioHours" id="{{item?.id}}" [value]="item?.value"
             [(ngModel)]="item.checked" >
      <label class="form-check-label" for="{{item?.id}}">{{item?.name}}</label>
    </div>
  </div>

  <div class="content-radio">
    <h4 class="fieldset-title" >Área de conocimiento:</h4>
    <div class="form-check form-check-inline" *ngFor="let item of orderArea">
      <input class="form-check-input" type="checkbox" name="radioHours" [id]="item?.id" [value]="item?.value"
             [(ngModel)]="item.checked" >
      <label class="form-check-label" for="{{item?.id}}">{{item?.name}}</label>
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
    <div class="tableFixHead">
    <table class="table table-hover table-sm">
    <thead>
    <tr class="content-align">
      <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of teacherDemands | searchFilter: filterSubject | hoursFilter: orderHours |
    areaFilter: orderArea | ordenBySubject"
        routerLink="/dashboard/teacher-demand-details/{{item?.area_cod}}/{{item?.subject_cod}}/{{item?.group_cod}}" >
      <td>{{item?.university_acronym}}</td>
      <td>{{item?.subject_name}}</td>
      <td>{{item?.area_acronym}}</td>
      <td>{{item?.subject_course}}</td>
      <td>{{item?.subject_semester}}</td>
      <td>{{item?.group_cod}}</td>
      <td>{{item?.group_type}}</td>
      <td>{{item?.group_hours}}</td>
      <td
        [ngClass]="{
        'p-3 mb-2 bg-danger text-white': item?.group_cover_hours < 0,
        'p-3 mb-2 bg-success text-white': item?.group_cover_hours == 0,
        'p-3 mb-2 bg-warning text-dark': item?.group_cover_hours > 0
        }"
      >{{item?.group_cover_hours}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
