<div class="title">
  <h3 class="text-muted">{{title}}</h3>
</div>
<form [formGroup]="signInForm" (ngSubmit)="addNewUser()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre de usuario</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Username" formControlName="username">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="password">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="admin"
        >
        <label class="form-check-label" for="gridCheck1">Administrador</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck2" value="true"
               [checked]="isTeacher"
               [(ngModel)]="isTeacher"
               [ngModelOptions]="{standalone: true}"
               (ngModelChange)="createLoginForm()"
        >
        <label class="form-check-label" for="gridCheck2">Profesor</label>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isTeacher" >
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" formControlName="name">
      </div>
      <div class="form-group col-md-5">
        <label for="inputSurnames">Appelidos</label>
        <input type="text" class="form-control" id="inputSurnames" formControlName="surnames">
      </div>
      <div class="form-group col-md-2">
        <label for="inputDni">DNI</label>
        <input type="text" class="form-control" id="inputDni" formControlName="dni">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputPotential">Potencial</label>
        <input type="text" class="form-control" id="inputPotential" formControlName="potential">
      </div>

      <div class="form-group col-md-4">
        <label for="inputhourstutorial">Horas de tutorias</label>
        <input type="text" class="form-control" id="inputhourstutorial" formControlName="tutorial_hours">
      </div>

      <div class="form-group col-md-4">
        <label for="inputKnowledgeArea">Área de Conocimiento</label>
        <select id="inputKnowledgeArea" class="form-control" formControlName="area_cod">

          <option value="35" selected>Arquitectura Y Tecnología de Computadores(35)</option>
          <option value="75">Ciencia De La Comp. E Intel. Artificial (75)</option>
          <option value="570">Lenguajes Y Sistemas Informáticos (570)</option>
        </select>
      </div>
    </div>
  </ng-container>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-link">Añadir</button>
    </div>
  </div>




</form>
