h3 { text-align: right; margin-bottom: 30px; }
.select-row:hover{
  cursor: pointer;
  background: #eeeeee;
}
.content-align {
  text-align: center;
}
.content-vertical {
  vertical-align: middle;
}
.tableFixHead { font-size: .8em; max-height: 35rem !important;}


