.custom-file-label::after { content: 'Buscar'; }
.card { margin-bottom: 1rem; }
.border-danger .btn { padding: 0; }
.input-custom { padding: .3rem 15px 0 15px;}
.card-title { padding-bottom: .8rem; }
