
<h3 class="text-muted">{{groupDetails?.subject_name}}</h3>

<hr class="my-4 row-my">

<div class="container">

  <div class="row">
    <div class="col col-title">Área de conocimiento</div>
    <div class="col col-title">Titulación</div>
  </div>

  <div class="row">
    <div class="col">{{groupDetails?.area_name}}</div>
    <div class="col">{{groupDetails?.university_name}}</div>
  </div>

  <hr class="separation">

  <div class="row">
    <div class="col col-title">Grupo</div>
    <div class="col col-title">Tipo</div>
    <div class="col col-title">Horas</div>
  </div>

  <div class="row">
    <div class="col">{{groupDetails?.group_cod}}</div>
    <div class="col">{{groupDetails?.group_type}}</div>
    <div class="col">{{groupDetails?.group_hours}}</div>
  </div>

  <hr class="separation">

  <div *ngIf="groupDetails?.teacher.length == 0" class="row">
    <div class="col-12">
    <div class="alert alert-warning" role="alert">
      <p>
        Este grupo aún no tiene ningún profesor asignado.
      </p>
    </div>
    <hr class="separation">
    </div>
  </div>

  <div class="row" *ngIf="groupDetails?.teacher?.length > 0">
    <table class="table table-bordered">
      <thead>
      <tr class="">
        <th scope="col">Profesor</th>
        <th scope="col">Horas en solicitud</th>
        <th scope="col">Estado</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let teacher of groupDetails?.teacher">
        <td>{{teacher?.teacher_surnames}}, {{teacher?.teacher_name}}</td>
        <td>{{teacher?.assigned_hours}}</td>
        <td *ngIf="teacher.approved">Aprobado</td>
        <td *ngIf="teacher.rejected">Rechazado</td>
        <td *ngIf="!teacher.approved && !teacher.rejected">Pendiente</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div id="alert-success" class="alert alert-success alert-dismissible fade" role="alert">
  <strong>¡Solicitud enviada!</strong> Deberá esperar que su solicitud sea aceptada
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="alert-danger" class="alert alert-danger alert-dismissible fade" role="alert">
  <strong>Se ha producido algún error.</strong> Ha existido algún problema al realizar la solicitud
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
