
<h3 class="text-muted">{{title}}</h3>

<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <img src="assets/img/user-default.jpg" class="card-img" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-9">
        <ul class="list-group list-group-flush">
            <li *ngIf="user?.teacher_dni" class="list-group-item text-right" >
              <span class="pull-left text-muted">DNI</span>{{user?.teacher_dni}}
            </li>

            <li *ngIf="user?.teacher_name" class="list-group-item text-right" >
              <span class="pull-left text-muted">Nombre</span>{{user?.teacher_name}}
            </li>
            <li *ngIf="user?.teacher_surnames" class="list-group-item text-right" >
              <span class="pull-left text-muted">Apellidos</span>{{user?.teacher_surnames}}
            </li>
            <li *ngIf="user?.username" class="list-group-item text-right">
              <span class="pull-left text-muted">Nombre de usuario</span>{{user?.username}}
            </li>
            <li *ngIf="user?.area_name" class="list-group-item text-right">
              <span class="pull-left text-muted">Area de conocimiento</span>{{user?.area_name}} - cod: {{user?.area_cod}}
            </li>
            <li *ngIf="true" class="list-group-item text-right">
              <span class="pull-left text-muted">Categoría profesional</span> null
            </li>
            <li *ngIf="user?.teacher_potential" class="list-group-item text-right">
              <span class="pull-left text-muted">Potencial</span>{{user?.teacher_potential}} h
            </li>
            <li *ngIf="user?.tutorial_hours" class="list-group-item text-right">
              <span class="pull-left text-muted">Horas de tutorias</span>{{user?.tutorial_hours}} h
            </li>
            <li class="list-group-item text-right">
              <button class="btn btn-link" (click)="changePassword()">Cambiar contraseña</button>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>



<!-- Modal change password -->
<app-change-password></app-change-password>
