<h3 class="text-muted">Mi Carga docente</h3>

<div class="container">

  <div class="row-title">
    <h4><em>Carga docente seleccionada</em></h4>
  </div>
  <hr class="separation">

  <div class="row" *ngIf="teacherGroupsConfirm.length == 0">
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>CUIDADO!</strong>
        Aún no tienes seleccionadas ningun número de horas de impartición. Por favor, seleccione el grupo y el número de horas que desea impartir en
        la tabla que se encuentra de más bajo.
      </p>
    </div>
    <hr class="separation">
  </div>


  <div class="row" *ngIf="teacherGroupsConfirm.length > 0">

    <div class="col">

      <div class="row tableFixHead">
        <table class="table table-striped ">
          <thead>
            <tr class="content-align">
              <th *ngFor="let field of fieldTeacherGroups " scope="col" class="align-middle">{{field}}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of teacherGroupsConfirm | ordenBySubject">
                <td class="align-middle">{{item?.university_acronym}}</td>
                <td class="align-middle">{{item?.area_name}}</td>
                <td class="align-middle">{{item?.subject_name}}</td>
                <td class="align-middle">{{item?.group_cod}}</td>
                <td class="align-middle">{{item?.group_type}}</td>
                <td class="align-middle">{{item?.group_hours}}</td>
                <td class="align-middle"
                  [ngClass]="{
                  'p-3 mb-2 bg-danger text-white': item?.group_cover_hours < 0,
                  'p-3 mb-2 bg-success text-white': item?.group_cover_hours === 0,
                  'p-3 mb-2 bg-warning text-dark': item?.group_cover_hours > 0
                  }"
                >{{item?.group_cover_hours}}</td>
                <td class="align-middle">
                  <!-- <input class="form-control" type="text" placeholder="{{item?.impart_hours}}"> -->
                  <input type="number" class="form-control align-middle"
                         step='1'
                         value="{{item?.impart_hours}}" min="0.5" max="{{item?.group_hours}}"
                         [(ngModel)]="item.impart_hours"
                         (change)="clickChanger($event.target)">
                </td>

                <td class="align-middle">{{item?.state_solicitation}}</td>

                <td class="align-middle">
                  <i *ngIf="!item.updateActiveLoad" class="fa fa-sync" (click)="updateGroup(item)">&#xf021;</i>
                  <i *ngIf="item.updateActiveLoad" class="fa fa-sync fa-spinner fa-spin"></i>
                </td>
                <td class="align-middle">
                  <i *ngIf="!item.deleteActiveLoad" class="fa fa-close" (click)="deleterGroup(item)"></i>
                  <!--<i *ngIf="item.deleteActiveLoad" class="fa fa-sync fa-spin">&#xf021;</i>-->
                  <i *ngIf="item.deleteActiveLoad" class="fa fa-sync fa-spinner fa-spin"></i>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


  <div class="row-title">
    <h4 class="float-left"><em>Carga docente disponible</em></h4>
    <p class="text-muted">{{selectedHours}}/{{user?.teacher_potential}} Horas</p>
    <button type="button" class="btn btn-link" (click)="confirmSelection()">
      <i *ngIf="!changerActiveLoad" class="fa">&#xf021;</i>
      <i *ngIf="changerActiveLoad" class="fa fa-spin">&#xf021;</i>
      Guardar cambios
    </button>
  </div>


  <hr class="separation">

  <div class="row">
    <div class="col ">

      <div class="row tableFixHead">
        <table class="table table-striped ">

          <thead>
            <tr class="content-align">
              <th *ngFor="let field of fieldsAvailable" scope="col" class="align-middle">{{field}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of groups | ordenBySubject">
              <td class="align-middle">{{item?.university_name}}</td>
              <td class="align-middle">{{item?.area_name}}</td>
              <td class="align-middle">{{item?.subject_name}}</td>
              <td class="align-middle">{{item?.subject_course}}</td>
              <td class="align-middle">{{item?.subject_semester}}</td>
              <td class="align-middle">{{item?.group_cod}}</td>
              <td class="align-middle">{{item?.group_type}}</td>
              <td class="align-middle">{{item?.group_hours}}</td>
              <td class="align-middle"
                [ngClass]="{
                'p-3 mb-2 bg-danger text-white': item?.cover_hours_provitional < 0,
                'p-3 mb-2 bg-success text-white': item?.cover_hours_provitional == 0,
                'p-3 mb-2 bg-warning text-dark': item?.cover_hours_provitional > 0
                }"
              >{{item?.cover_hours_provitional}}</td>
              <td class="align-middle">
                <input type="number" class="form-control"
                         step='1'
                         value="{{item?.impart_hours}}" min="0" max="{{item?.group_hours}}"
                         [(ngModel)]="item.impart_hours"
                         (change)="clickChanger($event.target)">
              </td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>


</div>
