<h3 class="text-muted">{{title}}</h3>

<div class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-outline-primary" (click)="saveData()">
    <i class="fa fa-save"></i>
    Guardar
  </button>
</div>


<div class="row">
  <div class="col-12">
    <h4 class="align-middle"><em>Lista de coordinación</em></h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-hover">
        <thead>
        <tr class="content-align">
          <th *ngFor="let field of fields" scope="col" class="content-vertical">{{field}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjectlist" class="select-row content-align">

          <td>{{subject?.university_acronym}}</td>
          <td>{{subject?.subject_name}}</td>
          <td>{{subject?.area_acronym}}</td>
          <td>{{subject?.subject_semester}}</td>
          <td>
            <input  *ngIf="subject?.coordinator_dni && subject?.coordinator_dni === user?.teacher_dni"
                    type="checkbox" name="radioCoordinator" [(ngModel)]="subject.coordinator"
                    [checked]="subject.coordinator"
            >

            <input  *ngIf="subject?.coordinator_dni && subject?.coordinator_dni !== user?.teacher_dni"
                    type="checkbox" name="radioCoordinator" [checked]="true" [disabled]="true"
            >

            <input  *ngIf="!subject?.coordinator_dni"
                    type="checkbox" name="radioCoordinator" [(ngModel)]="subject.coordinator"
                    [checked]="subject.coordinator"
            >

          </td>
          <td>
            <input  *ngIf="subject?.responsible_dni && subject?.responsible_dni === user?.teacher_dni"
                    type="checkbox" name="radioResponsible" [(ngModel)]="subject.responsible"
                    [checked]="subject.responsible"
            >

            <input  *ngIf="subject?.responsible_dni && subject?.responsible_dni !== user?.teacher_dni"
                    type="checkbox" name="radioResponsible" [checked]="true" [disabled]="true"
            >

            <input  *ngIf="!subject?.responsible_dni"
                    type="checkbox" name="radioResponsible" [(ngModel)]="subject.responsible"
                    [checked]="subject.responsible"
            >

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
