<ul class="list-group list-group-flush">

  <li class="list-group-item">
      <h3>{{groupDetails?.subject_name}}</h3>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col col-title">Área de conocimiento</div>
      <div class="col col-title">Titulación</div>
    </div>
    <div class="row">
      <div class="col">{{groupDetails?.knowledge_area_name}}</div>
      <div class="col">{{groupDetails?.university_degree_name}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col col-title">Grupo</div>
      <div class="col col-title">Tipo</div>
      <div class="col col-title">Horas</div>
    </div>
    <div class="row">
      <div class="col">{{groupDetails?.group_cod}}</div>
      <div class="col">{{groupDetails?.group_type}}</div>
      <div class="col">{{groupDetails?.group_hours}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <table class="table table-bordered">
      <thead>
      <tr class="">
        <th scope="col">Profesor</th>
        <th scope="col">Horas en solicitud</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teacher of groupDetails?.teacher">
        <td>{{teacher?.teacher_surname}}, {{teacher?.teacher_name}}</td>
        <td>{{teacher?.teacher_assigned}}</td>
      </tr>
      </tbody>
    </table>
    <app-group-solicitation-form
      [data]="groupDetails"
      (statusRequest)="showRequest($event)"
    ></app-group-solicitation-form>
  </li>
</ul>
<div id="alert-success" class="alert alert-success alert-dismissible fade" role="alert">
  <strong>¡Solicitud enviada!</strong> Deberá esperar que su solicitud sea aceptada
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="alert-danger" class="alert alert-danger alert-dismissible fade" role="alert">
  <strong>Se ha producido algún error.</strong> Ha existido algún problema al realizar la solicitud
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
