.col{
  text-align: center;
}
.col-title{
  //background:#818182;
  background: #002e67;;
  color: #fdfdfe;
}

.btn-dis:hover{
  background: #002e67;
  color: #ffffff;
  border-color: #ffffff;
}

table{
  text-align: center;
}

