<ul class="list-group list-group-flush">
  <li class="list-group-item"><h3>Álgebra, curso 2018/2019</h3></li>
  <li class="list-group-item">
    <div class="row">
      <div class="col col-title">Área de conocimiento</div>
      <div class="col col-title">Titulación</div>
    </div>
    <div class="row">
      <div class="col">Informática y Sistemas</div>
      <div class="col">Grado en Ingeniería Informática</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col col-title">Grupo</div>
      <div class="col col-title">Tipo</div>
      <div class="col col-title">Horas</div>
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col">Práctica aula</div>
      <div class="col">60</div>
    </div>
  </li>
  <li class="list-group-item">
    <table class="table table-bordered">
      <thead>
      <tr class="">
        <th scope="col">Profesor</th>
        <th scope="col">Horas en solicitud</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Juan del Pino Menfoza</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td>María José Santana</td>
        <td>22</td>
      </tr>
      </tbody>
    </table>
  </li>
</ul>
