<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <h2>Iniciar sessión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="confirmLogin()">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Introduce el usuario" formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu usuario con nadie más.</small>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Se requiere nombre de usuario</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Se requiere la contraseña</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Acceder</button>
      </form>
    </div>
    <div class="col"></div>
  </div>

</div>
