<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Inicio de sessión</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="confirmLogin()">

            <label class="sr-only" for="item-username">Username</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
              </div>
              <input type="text" class="form-control" id="item-username" placeholder="Usuario" formControlName="username"
                     required autofocus>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
              </div>
              <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Contraseña"
                     formControlName="password" required autofocus>
            </div>

            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
