<h3 class="text-muted">{{title}}</h3>

  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-outline-success" [disabled]="!availableBtn" (click)="approve()">
      <i class="fa fa-check"></i>
      Aprobar
    </button>
    <button type="button" class="btn btn-outline-danger" [disabled]="!availableBtn" (click)="reject()">
      <i class="fa fa-close" ></i>
      Rechazar
    </button>
  </div>




<div class="row">
  <h4 class="col-12"><em>Carga docente del profesorado</em></h4>
  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>
              <input id="allSelected" type="checkbox" name="radioGroup"
                     (change)="selectedAllGroup($event)"
                     [value]="allSelected"
                     [(ngModel)]="allSelected"
              >
            </th>
            <th *ngFor="let field of fields" scope="col">{{field}}</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of teacherRequest">
          <td>
            <input type="checkbox"
                   name="radioInputGroup"
                   [(ngModel)]="item.activedChanger"
                   (change)="changeCheckboxGroup($event)"
            >
          </td>
          <td>{{item?.group_cod}}</td>
          <td>{{item?.subject_cod}}</td>
          <td>{{item?.area_cod}}</td>
          <td>{{item?.teacher_dni}}</td>
          <td>{{item?.teacher_area_cod}}</td>
          <td>{{item?.assigned_hours}}</td>

          <td *ngIf="item.venia">Sí</td>
          <td *ngIf="!item.venia"></td>

          <td *ngIf="item?.approved">Aprobado</td>
          <td *ngIf="item?.rejected">Rechazado</td>
          <td *ngIf="!item?.approved && !item?.rejected">Pendiente</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
