<h3 class="text-muted">{{title}}</h3>

  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-outline-success" [disabled]="!availableBtn" (click)="approve()">
      <i class="fa fa-check"></i>
      Aprobar
    </button>
    <button type="button" class="btn btn-outline-danger" [disabled]="!availableBtn" (click)="reject()">
      <i class="fa fa-close" ></i>
      Rechazar
    </button>
  </div>




<div class="row">
  <h4 class="col-12"><em>Carga docente del profesorado</em></h4>
  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>
              <input id="allSelected" type="checkbox" name="radioGroup"
                     (change)="selectedAllGroup($event)"
                     [value]="allSelected"
                     [(ngModel)]="allSelected"
              >
            </th>
            <th *ngFor="let field of fields" scope="col">{{field}}</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of teacherRequest">
          <td>
            <input type="checkbox"
                   name="radioInputGroup"
                   [(ngModel)]="item.activedChanger"
                   (change)="changeCheckboxGroup($event)"
            >
          </td>
          <td>{{item?.group_cod}}</td>
          <td>{{item?.subject_cod}}</td>
          <td>{{item?.area_cod}}</td>
          <td>{{item?.teacher_dni}}</td>
          <td>{{item?.teacher_area_cod}}</td>
          <td>{{item?.assigned_hours}}</td>

          <td *ngIf="item.venia">Sí</td>
          <td *ngIf="!item.venia"></td>

          <td *ngIf="item?.approved">Aprobado</td>
          <td *ngIf="item?.rejected">Rechazado</td>
          <td *ngIf="!item?.approved && !item?.rejected">Pendiente</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row" *ngIf="listVeniasI.length > 0">
  <div class="col-12">
    <h4 class="float-left"><em>Venia tipo I</em></h4>
  </div>

  <div class="col-12">
    <div class="tableFixHead" >
      <table class="table table-hover table-sm ">
        <thead>
          <tr>
            <th>
              <input id="allSelectedVenia1" type="checkbox" name="radioVenia1"
                     (change)="selectedAllVenia1($event)"
                     [value]="allVenia1"
                     [(ngModel)]="allVenia1"
              >
            </th>
            <th *ngFor="let field of fieldVeniaI " scope="col" >{{field}}</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listVeniasI">
            <td>
              <input type="checkbox"
                     name="radioVenia11"
                     [(ngModel)]="item.activedChanger"
                     (change)="changeCheckboxVenia1($event)"
              >
            </td>
            <td>{{item?.area_cod}}</td>
            <td>{{item?.teacher_dni}}</td>

            <td *ngIf="item.approved">Aprobado</td>
            <td *ngIf="item.rejected">Rechazado</td>
            <td *ngIf="!item.approved && !item.rejected">Pendiente</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="listVeniasII.length > 0">
  <div class="col-12">
    <h4 class="float-left"><em>Venia tipo II</em></h4>
  </div>


  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>
            <input id="allSelectedVenia2"
                   type="checkbox"
                   name="radioVenia21"
                   (change)="selectedAllVenia2($event)"
                   [value]="allVenia2"
                   [(ngModel)]="allVenia2"
            >
            </th>
            <th *ngFor="let field of fieldVeniaII" scope="col">{{field}}</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listVeniasII">
            <td>
              <input type="checkbox" name="radioVenia2"
                     [(ngModel)]="item.activedChanger"
                     (change)="changeCheckboxVenia2($event)"
              >
            </td>
            <td>{{item?.area_cod}}</td>
            <td>{{item?.subject_cod}}</td>
            <td>{{item?.teacher_dni}}</td>

            <td *ngIf="item?.approved">Aprobado</td>
            <td *ngIf="item?.rejected">Rechazado</td>
            <td *ngIf="!item?.approved && !item?.rejected">Pendiente</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
