
.select-row:hover{ cursor: pointer; background: #eeeeee; }
.content-align { text-align: center; }
.content-vertical { vertical-align: middle; }

.separation {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  margin-right: -0.95rem !important;
  margin-left: -0.95rem !important;
}

.fa { cursor: pointer; font-size: 1.2rem; }
.tableFixHead { font-size: .7em; max-height: 30rem !important; }

.row {margin-top: 1rem;}


.input-group-text,
.form-control { background: white; border: none; border-radius: 0 !important; }
.input-group { margin-top: .5rem; border: 1px solid lightgrey; border-radius: .1rem}
.tableFixHead { font-size: .8em; max-height: 35rem !important; }
.cursor-pointer { cursor: pointer; }

input[type="text"]:focus
{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.content-filter-radio {
  display: inline-flex;
  margin-bottom: 1.5rem;
  margin-left: .5rem;
  .fieldset-title { font-size: 1rem; font-weight: 400; }
  .content-radio { margin-right: 15px; }
}
