<h3 class="text-muted">{{title}}</h3>


<div class="row">
  <div class="col-12">
    <h4>Primer semestre</h4>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th class="" *ngFor="let day of tutorialDay">{{day}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!-- Lunes -->
        <td *ngIf="firstSemester?.monday.length > 0">{{firstSemester?.monday}}</td>
        <td *ngIf="firstSemester?.monday.length == 0"> - </td>

        <!-- Martes -->
        <td *ngIf="firstSemester?.tuesday.length > 0">{{firstSemester?.tuesday}}</td>
        <td *ngIf="firstSemester?.tuesday.length == 0"> - </td>

        <!-- Miércoles -->
        <td *ngIf="firstSemester?.wednesday.length > 0">{{firstSemester?.wednesday}}</td>
        <td *ngIf="firstSemester?.wednesday.length == 0"> - </td>

        <!-- Jueves -->
        <td *ngIf="firstSemester?.thursday.length > 0">{{firstSemester?.thursday}}</td>
        <td *ngIf="firstSemester?.thursday.length == 0"> - </td>

        <!-- Viernes -->
        <td *ngIf="firstSemester?.friday.length > 0">{{firstSemester?.friday}}</td>
        <td *ngIf="firstSemester?.friday.length == 0"> - </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12">
    <h4>Segundo semestre</h4>
    <table class="table table-hover table-res-sm">
      <thead>
      <tr>
        <th *ngFor="let day of tutorialDay">{{day}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!-- Lunes -->
        <td *ngIf="secondSemester?.monday.length > 0">{{secondSemester?.monday}}</td>
        <td *ngIf="secondSemester?.monday.length == 0"> - </td>

        <!-- Martes -->
        <td *ngIf="secondSemester?.tuesday.length > 0">{{secondSemester?.tuesday}}</td>
        <td *ngIf="secondSemester?.tuesday.length == 0"> - </td>

        <!-- Miércoles -->
        <td *ngIf="secondSemester?.wednesday.length > 0">{{secondSemester?.wednesday}}</td>
        <td *ngIf="secondSemester?.wednesday.length == 0"> - </td>

        <!-- Jueves -->
        <td *ngIf="secondSemester?.thursday.length > 0">{{secondSemester?.thursday}}</td>
        <td *ngIf="secondSemester?.thursday.length == 0"> - </td>

        <!-- Viernes -->
        <td *ngIf="secondSemester?.friday.length > 0">{{secondSemester?.friday}}</td>
        <td *ngIf="secondSemester?.friday.length == 0"> - </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
