.row { margin-top: 1rem; }


.container-hours {
  margin-left: .8rem;
  margin-top: .2rem;
  margin-bottom: .4rem;
  .badge { margin-right: .1rem; background: #466b99; color: white; }
  .circle { font-size: 1rem; padding: .1rem .2rem .1rem .2rem; border-radius: 50%; }
  .circle:hover { cursor: pointer; color: black; }
}
.table{ tbody, thead, tr, td { text-align: center; } }



