<h3 class="text-muted">{{title}}</h3>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Buscar profesor ..." [(ngModel)]="filterTeacher">
</div>

<div class="content-filter-radio">

  <div class="content-radio">
    <h4 class="fieldset-title">Área de conocimiento</h4>
    <div class="form-check form-check-inline" *ngFor="let item of orderArea">
      <input class="form-check-input" type="checkbox" [id]="item?.id" [value]="item?.value" name="radioHours"
             [(ngModel)]="item.checked" >
      <label class="form-check-label" for="{{item?.id}}">{{item?.name}}</label>
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
    <div class="tableFixHead">
      <table class="table table-hover table-sm">
        <thead>
        <tr>
          <th *ngFor="let field of fields" scope="col" >{{field}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of teacherloads | searchTeacher: filterTeacher | areaFilter: orderArea"
              routerLink="/dashboard/teacher-load-details/{{item.teacher_dni}}" >
            <td>{{item?.teacher_surnames}}, {{item?.teacher_name}}</td>
            <td>{{item?.area_acronym}}</td>
            <td>{{item?.teacher_potential}}</td>
            <td>{{item?.cover_hours}}</td>
            <td>{{item?.other_teaching}}</td>
            <td [ngClass]="{
              'p-3 mb-2 bg-danger text-white': item?.unassigned_hours < 0,
              'p-3 mb-2 bg-success text-white': item?.unassigned_hours == 0,
              'p-3 mb-2 bg-warning text-dark': item?.unassigned_hours > 0
              }">{{item?.unassigned_hours}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
