.header-images-dis{
  height: 3.7rem;
}

.header-images-ulpgc {
  height: 3.7rem;
}

.nav-header{
  position: fixed;
  z-index: 10;
  top:0;
  right:0;
  left:0;
  -webkit-box-shadow: 0px 14px 35px -2px rgba(182,184,184,1);
  -moz-box-shadow: 0px 14px 35px -2px rgba(182,184,184,1);
  box-shadow: 0px -5px 35px -2px rgba(182,184,184,1);
}

.navbar {
  padding: .5rem 1.9rem;
}
.bg-color-ulpgc {
  background: linear-gradient(to bottom, #002e61 0%,#42648e 100%);
}
@media screen and (max-width: 520px) {
  .phone-logo {
    display: inline-flex;
  }
  .full-logo {
    display: none;
  }
}
@media screen and (min-width: 520px) {
  .phone-logo {
    display: none;
  }
  .full-logo {
    display: inline-flex;
  }
}
