<!--<div class="nav-header">
  <nav class="navbar navbar-default navbar-fixed-top bg-color-ulpgc">
    <div class="float-left">
      <i class="fa fa-align-justify align-middle" (click)="showSideBar()" [hidden]="!sidebarActive"></i>
      <i class="fa fa-close align-middle" (click)="showSideBar()" [hidden]="sidebarActive"></i>
      <img class="header-images-ulpgc full-logo" alt="ULPGC Logo" src="assets/img/logotipo-dis-ulpgc-white.png">
      <img class="header-images-ulpgc phone-logo" alt="ULPGC Logo" src="assets/img/ulpgc-white.png">
    </div>

    <img class="float-left header-images-dis" alt="DIS Logo" src="assets/img/logo-dis-center-red-white.png">
  </nav>
</div>-->

<nav class="navbar navbar-default bg-color-ulpgc">
  <div class="float-left">
    <i id="collapseSidebar" class="fa fa-align-justify align-middle" (click)="activeSideBar()"></i>
    <img class="header-images-ulpgc full-logo" alt="ULPGC Logo" src="assets/img/logotipo-dis-ulpgc-white.png">
    <img class="header-images-ulpgc phone-logo" alt="ULPGC Logo" src="assets/img/ulpgc-white.png">
  </div>

  <img class="float-left header-images-dis" alt="DIS Logo" src="assets/img/logo-dis-center-red-white.png">
</nav>
