<div class="title">
  <h3 class="text-muted">{{title}}</h3>
</div>

<!-- TODO - Añadir opción para borrar base de datos -->

<form (ngSubmit)="ploadFileToActivity()">

  <div class="row">
      <div class="col-10 custom-file">
        <input type="file" class="custom-file-input" lang="es"
               id="file"
               (change)="handleFileInput($event.target['files'])"
        >
        <label class="custom-file-label" for="file" id="fileLabel">Elegir archivo</label>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">
          <fa name="fas fa-upload"></fa>
          Cargar lista
        </button>
      </div>
  </div>
  <div class="row" *ngIf="activedLoad">
    <div class="app-bar col-12">
      <label>Subiendo fichero...</label>
      <div class="progress">
        <div id="loadFile" class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%':uploadByte}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{uploadByte}}%</div>
      </div>
    </div>
  </div>
</form>
