h3 {
  text-align: right;
  margin-bottom: 1.7rem;
  margin-top: 0.2rem;
}

.tableFixHead {
  font-size: 0.7em;
  padding-right: 5px;
  overflow-y: auto; max-height: 20rem;
  padding-left: 0;
  margin-bottom: 2.5rem;
  thead th { position: sticky; top: -1px; background: white; color: black;}
  table  {

    border-collapse: collapse;
    width: 100%;
  }
  th, td { padding: 8px 16px; text-align: center;}
  th     { background:#eee; }
}
.separation {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  margin-right: -0.95rem !important;
  margin-left: -0.95rem !important;
}

.fa { margin-right: 0.4rem;}

.dropdown-toggle::after {
  display:none;
}
