.tableFixHead {
  font-size: 0.7em;
  padding-right: 5px;
  overflow-y: auto; max-height: 20rem;
  padding-left: 0;
  margin-bottom: 2.5rem;
  thead th { position: sticky; top: -1px; background: white; color: black;}
  table  {

    border-collapse: collapse;
    width: 100%;
  }
  th, td { padding: 8px 16px; text-align: center;}
  th     { background:#eee; }
}

.card {
  margin-top: 1rem;
}
