h3 {
  text-align: right;
  margin-bottom: 30px;
}
.select-row:hover{
  cursor: pointer;
  background: #eeeeee;
}
.content-align {
  text-align: center;
}
.content-vertical {
  vertical-align: middle;
}
.tableFixHead {
  font-size: 0.7em;
padding-right: 5px;
overflow-y: auto; max-height: 35rem;
thead th { position: sticky; top: 0; }
table  {
  border-collapse: collapse;
  width: 100%;
}
th, td { padding: 8px 16px; }
th     { background:#eee; }

}


/* Just common table stuff. Really. */


