<h3 class="text-muted">{{teacherLoads?.teacher_name}} {{teacherLoads?.teacher_surnames}}</h3>

<div class="row">
  <div class="tableFixHead">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr >
      <th *ngFor="let field of fields" scope="col" class="align-middle">{{field}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of teacherLoads?.groups | ordenBySubject" >
      <td class="align-middle">{{item?.university_name}}</td>
      <td class="align-middle">{{item?.subject_name}}</td>
      <td class="align-middle">{{item?.subject_course}}</td>
      <td class="align-middle">{{item?.subject_type}}</td>
      <td class="align-middle">{{item?.subject_semester}}</td>
      <td class="align-middle">{{item?.group_type}}</td>
      <td class="align-middle">{{item?.group_cod}}</td>
      <td class="align-middle">{{item?.assigned_hours}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
