

<!-- Modal -->
<div class="modal fade" id="modal-user-edit" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username" class="col-form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username"
                   [value]="user?.username" readonly
            >
          </div>

          <div class="form-group">
            <label for="password" class="col-form-label">Cambiar contraseña</label>
            <input type="password" class="form-control" id="password"
                   [value]="user?.password"
                   [(ngModel)]="user.password"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>

          <!-- TODO - Es necesario el standalone cuando el objecto no ha sido cargado con ngmodel -->
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Profesor</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                    [(ngModel)]="user.teacher_dni"
                    [ngModelOptions]="{standalone: true}"
            >
              <option *ngIf="!user?.teacher_name" [value]=null [selected]="true">Ninguno</option>
              <option *ngIf="user?.teacher_name" [value]=null >Ninguno</option>
              <option *ngIf="user?.teacher_name" [value]="user.teacher_dni" [selected]="true">
                {{user?.teacher_name}} {{user?.teacher_surnames}}
              </option>
              <option *ngFor="let teacher of teacherList" [value]="teacher.teacher_dni">
                {{teacher?.teacher_name}} {{teacher?.teacher_surnames}}
              </option>
            </select>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="checkadmin"
                   [checked]="user?.isAdmin"
                   [(ngModel)]="user.isAdmin"
                   [ngModelOptions]="{standalone: true}"
            >
            <label class="form-check-label" for="checkadmin" >Administrador</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateUser()"> <i class="fa fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
