$text-muted: #6C757D;
$siderbar-primary: #eeeeee;
$siderbar-secondary: white;

.sidebar {

  background: white;
  height: 100%;

  #userSubMenu,
  #managerSubMenu,
  #pdaSubMenu {
    margin-top: .5rem;
  }

  .sidebar-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    h3 {
      margin: 0;
      padding: 0 0 0 1.2rem;
      text-align: left;
      color: $text-muted;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .logout {
      text-align: center;
      margin-top: 1.2rem;
    }
  }

  //Componentes del cuerpo
  .sidebar-body {
    li {
      margin: 0;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
      "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-weight: 400;
      cursor: pointer;
      a { color: #002e67; }
    }
  }

  .router-link-active {
    background: #466b99;
    a { color: white !important; }
  }
}


.fa-power-off {
  font-size: 1.4rem;
  color: lightgrey;
  border-color: lightgrey;
}
.fa-power-off:hover {
  cursor: pointer;
  color: #002e67;
}
