<h3 class="text-muted">Solicitudes</h3>

<div class="row">
  <div class="col-12">
    <h4 class="float-left"><em>Carga docente</em></h4>
  </div>
  <div class="col-12">
    <p class="text-muted">{{selectedHours}}/{{user?.teacher_potential}} Horas</p>
  </div>
</div>

<div class="alert alert-warning" role="alert" *ngIf="teacherGroupsConfirm.length == 0">
  <p>
    <strong>CUIDADO!</strong>
    Aún no tienes seleccionadas ningun número de horas de impartición. Por favor, seleccione el grupo y el número de horas que desea impartir en
    la tabla que se encuentra de más bajo.
  </p>
</div>

<div class="row" *ngIf="teacherGroupsConfirm.length > 0">

  <div class="col">
    <div class="tableFixHead">
      <table class="table table-striped ">
        <thead>
        <tr class="content-align">
          <th *ngFor="let field of fieldTeacherGroups " scope="col" class="align-middle">{{field}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of teacherGroupsConfirm | ordenBySubject">
            <td>{{item?.university_name}}</td>
            <td>{{item?.area_name}}</td>
            <td>{{item?.subject_name}}</td>
            <td>{{item?.group_cod}}</td>
            <td>{{item?.group_hours}}</td>
            <td>
              <input class="form-control" style="text-align:center;" type="text" placeholder="{{item?.assigned_hours}}" readonly>
            </td>
            <td *ngIf="item?.approved">Aprobado</td>
            <td *ngIf="item?.rejected">Rechazado</td>
            <td *ngIf="!item?.approved && !item?.rejected">Pendiente</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="row" *ngIf="listVeniasI.length > 0">
  <div class="col-12">
    <h4 class="float-left"><em>Venia tipo I</em></h4>
  </div>
</div>

<div class="row" *ngIf="listVeniasI.length > 0">
  <div class="col-12">
    <div class="tableFixHead" >
      <table class="table table-striped ">
        <thead>
        <tr class="content-align">
          <th *ngFor="let field of fieldVeniaI " scope="col" class="align-middle">{{field}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listVeniasI">
          <td>{{item?.area_name}}</td>
          <td>{{item?.area_cod}}</td>

          <td *ngIf="item.approved">Aprobado</td>
          <td *ngIf="item.rejected">Rechazado</td>
          <td *ngIf="!item.approved && !item.rejected">Pendiente</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="listVeniasII.length > 0">
  <div class="col-12">
    <h4 class="float-left"><em>Venia tipo II</em></h4>
  </div>
</div>

<div class="row" *ngIf="listVeniasII.length > 0">

  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-striped ">
        <thead>
        <tr class="content-align">
          <th *ngFor="let field of fieldVeniaII" scope="col" class="align-middle">{{field}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listVeniasII">
          <td>{{item?.area_cod}}</td>
          <td>{{item?.subject_cod}}</td>
          <td>{{item?.subject_name}}</td>
          <td *ngIf="item?.approved">Aprobado</td>
          <td *ngIf="item?.rejected">Rechazado</td>
          <td *ngIf="!item?.approved && !item?.rejected">Pendiente</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
