<h3 class="text-muted">{{teacherLoads?.teacher_name}} {{teacherLoads?.teacher_surnames}}</h3>
<div class="tableFixHead">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th *ngFor="let field of fields" scope="col" class="content-align">{{field}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of teacherLoads?.groups | ordenBySubject" class="content-align">
      <td>{{item?.university_name}}</td>
      <td>{{item?.subject_name}}</td>
      <td>{{item?.subject_course}}</td>
      <td>{{item?.subject_type}}</td>
      <td>{{item?.subject_semester}}</td>
      <td>{{item?.group_type}}</td>
      <td>{{item?.group_cod}}</td>
      <td>{{item?.assigned_hours}}</td>
    </tr>
    </tbody>
  </table>
</div>
