<div class="app-navegation">
  <ul class="list-group navegation">
    <h3 class="text-muted">Curso 2019/2020</h3>

    <li class="list-group-item">
      <a class="list-group-item-light" data-toggle="collapse" href="#item-1">
        <i class="fas fa-user"></i>
        Mi cuenta
      </a>
      <div id="item-1" class="collapse show">
        <ul class="list-group list-group-flush" >
          <li *ngFor="let link of linkUser" routerLink="{{link.path}}" class="list-group-item app-list" >
            <a class="">{{link.name}}</a>
          </li>

          <li class="list-group-item app-list" (click)="logout()">
            <a class="">Cerrar sessión</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <a class="list-group-item-light " data-toggle="collapse" href="#item-2">
        <i class="fas fa-list-ul"></i>
        PDO
      </a>
      <div id="item-2" class="collapse">
        <ul class="list-group list-group-flush">
          <li *ngFor="let link of linkPDO" routerLink="{{link.path}}" class="list-group-item app-list" >
            <a class="">{{link.name}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>


