h3 {
  margin-bottom: 30px;
}
.app-list{
  cursor: pointer;
  a {
    color: #002e67;
  }

}
.app-list:hover {
  background: #f8f9fa;
}

.app-navegation {
  li.list-group-item {
    padding: .50rem 1rem;
  }
  .fas {
    margin-right: .4rem;
  }
}


